web/WEB-INF/services/SmcService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8081/services/SmcService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8081/services/SmcService" xmlns:intf="http://localhost:8081/services/SmcService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://localhost:8081/services/SmcService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deliverRequest">

      <wsdl:part name="username" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="type" type="xsd:int"/>

      <wsdl:part name="src_id" type="xsd:int"/>

      <wsdl:part name="level" type="xsd:int"/>

      <wsdl:part name="to_users" type="xsd:string"/>

      <wsdl:part name="send_way" type="xsd:int"/>

      <wsdl:part name="content" type="xsd:string"/>

      <wsdl:part name="send_time" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part name="args" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="deliverResponse">

      <wsdl:part name="deliverReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="mainResponse">

   </wsdl:message>

   <wsdl:message name="deliverEmailRequest">

      <wsdl:part name="username" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="src_id" type="xsd:int"/>

      <wsdl:part name="level" type="xsd:int"/>

      <wsdl:part name="to_users" type="xsd:string"/>

      <wsdl:part name="content" type="xsd:string"/>

      <wsdl:part name="send_time" type="xsd:string"/>

      <wsdl:part name="title" type="xsd:string"/>

      <wsdl:part name="attachmentfile" type="xsd:base64Binary"/>

      <wsdl:part name="attachment" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deliverEmailResponse">

      <wsdl:part name="deliverEmailReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="SmcService">

      <wsdl:operation name="deliver" parameterOrder="username password type src_id level to_users send_way content send_time">

         <wsdl:input message="impl:deliverRequest" name="deliverRequest"/>

         <wsdl:output message="impl:deliverResponse" name="deliverResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deliverEmail" parameterOrder="username password src_id level to_users content send_time title attachmentfile attachment">

         <wsdl:input message="impl:deliverEmailRequest" name="deliverEmailRequest"/>

         <wsdl:output message="impl:deliverEmailResponse" name="deliverEmailResponse"/>

      </wsdl:operation>

      <wsdl:operation name="main" parameterOrder="args">

         <wsdl:input message="impl:mainRequest" name="mainRequest"/>

         <wsdl:output message="impl:mainResponse" name="mainResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SmcServiceSoapBinding" type="impl:SmcService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deliver">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deliverRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.ui.smc.uway.cn" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deliverResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8081/services/SmcService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deliverEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deliverEmailRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.ui.smc.uway.cn" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deliverEmailResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8081/services/SmcService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.ui.smc.uway.cn" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8081/services/SmcService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SmcServiceService">

      <wsdl:port binding="impl:SmcServiceSoapBinding" name="SmcService">

         <wsdlsoap:address location="http://localhost:8081/services/SmcService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
